<!DOCTYPE HTML>
<!--
	Dopetrope by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>茉茉伺服器-贊助方式</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="/assets/css/main.css" />
		<link rel="stylesheet" href="/assets/css/momo.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-115467360-1"></script>
        <script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'UA-115467360-1');

		function savePost() {
			document.getElementById("savePost").submit();
		}
        </script>
	</head>
	<body class="no-sidebar">
		<div id="page-wrapper">

			<!-- Header -->
				<div id="header-wrapper">
					<div id="header">
						<%- include('index_nav'); -%>
					</div>
				</div>

			<!-- Main -->
				<div id="main-wrapper">
					<div class="container">

						<!-- Content -->
							<article class="box login">
                                <section class="sectionlogin">
									<form id="savePost" method="post" action="/login/submit">
										<div class="">
											<span class="login">帳號:  <dfn style="color:red"><%=errorcode %></dfn></span>
											<input type="text" name="account" maxlength=<%= fieldlength[(_.map(fieldlength, "COLUMN_NAME").indexOf("act_name"))].CHARACTER_MAXIMUM_LENGTH %>>
										</div>
										<br>
										<div class="">
											<span class="login">密碼:</span>
											<input type="password" name="password" maxlength=<%= fieldlength[(_.map(fieldlength, "COLUMN_NAME").indexOf("pwd"))].CHARACTER_MAXIMUM_LENGTH %>>
										</div>
										<br>
										<div class="">
											<span class="login">忘記密碼?</span>
										</div>
									</form>
									<div class="submit">
										<button onclick="savePost()">登入</button>
									</div>
								</section>
							</article>

					</div>
                        <div align="center">
                        <a style="color:#F6D8D8;text-decoration: none;">&copy; momocraft. All rights reserved.Design: <a style="color:#F6D8D8"  href="http://html5up.net">HTML5 UP</a></a>
                        </div>
				</div>
                        
		</div>

		<!-- Scripts -->
			<script src="/assets/js/jquery.min.js"></script>
			<script src="/assets/js/jquery.dropotron.min.js"></script>
			<script src="/assets/js/skel.min.js"></script>
			<script src="/assets/js/skel-viewport.min.js"></script>
			<script src="/assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="/assets/js/main.js"></script>
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <script>
              (adsbygoogle = window.adsbygoogle || []).push({
                google_ad_client: "ca-pub-9443392613166937",
                enable_page_level_ads: true
              });
            </script>

	</body>
</html>