<!DOCTYPE HTML>
<!--
	Dopetrope by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>茉茉伺服器-贊助方式</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="assets/css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-115467360-1"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-115467360-1');
        </script>
	</head>
	<body class="no-sidebar">
		<div id="page-wrapper">

			<!-- Header -->
				<div id="header-wrapper">
					<div id="header">

						<!-- Logo -->
							<h1 ><a href="">茉茉伺服器</a></h1>
						<!-- Nav -->
							<nav id="nav">
								<ul>
									<li><a href="http://momocraft.tw">簡介</a></li>
                                    <li><a href="news.html">最新消息</a>
                                    <li><a href="newscomer.html">新手必看</a>
                                    </li>    
                                    <li><a href="rules.html">遊戲制度</a>
                                        <ul>
                                            <li><a href="rules.html">規定</a></li>
                                            <li><a href="#">公會制度(尚未開放)</a></li>
                                            
                                        </ul>
                                    </li>
                                    <li><a href="game.html">小遊戲(限時開放)</a></li>
									<li class="current">
										<a href="donate.html">贊助支持</a>
									</li>
									<li><a href="contact.html">聯絡我們/徵人才</a></li>
								</ul>
							</nav>

					</div>
				</div>

			<!-- Main -->
				<div id="main-wrapper">
					<div class="container">

						<!-- Content -->
							<article class="box login">
                                <section style="padding: 100px 100px 10px;">
									<form class="" role="form">
										<div class="">
											<span class="input-group-addon">帳號</span>
											<input type="text" class="" >
										</div>
										<br>
										<div class="">
											<p> 密碼</p>
											<input type="password" class="">
										</div>
										<br>
										<div class="">
											<input type="text" class="">
										</div>
									</form>
								</section>
							</article>

					</div>
                        <div align="center">
                        <a style="color:#F6D8D8;text-decoration: none;">&copy; momocraft. All rights reserved.Design: <a style="color:#F6D8D8"  href="http://html5up.net">HTML5 UP</a></a>
                        </div>
				</div>
                        
		</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.dropotron.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/skel-viewport.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <script>
              (adsbygoogle = window.adsbygoogle || []).push({
                google_ad_client: "ca-pub-9443392613166937",
                enable_page_level_ads: true
              });
            </script>

	</body>
</html>