<!DOCTYPE HTML>
<!--
	Dopetrope by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>茉茉伺服器-贊助方式</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="/assets/css/main.css" />
		<link rel="stylesheet" href="/assets/css/momo.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-115467360-1"></script>
        <script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'UA-115467360-1');

		function submitResetData() {
			document.getElementById("resetForm").submit();
		}

		function submitForgetData() {
			document.getElementById("forgetForm").submit();
		}
        </script>
	</head>
	<body class="no-sidebar">
		<div id="page-wrapper">

			<!-- Header -->
				<div id="header-wrapper">
					<div id="header">
						<%- include('index_nav'); -%>
					</div>
				</div>

			<!-- Main -->
				<div id="main-wrapper">
					<div class="container">

						<!-- Content -->
							<article class="box login">
                                <section class="sectionlogin">
									<% if (state === 'resetpassword') { %>
										<form id="resetForm" method="post" action="/forget/resetPassword/<%= token %>/submit">
											<div class="">
												<span class="forget">新的密碼:</span>
												<br/>
												<dfn style="color:red"><%=errorcode %></dfn>
												<input type="password" name="password" >
											</div>
											<div class="">
												<span class="forget">確認新的密碼:</span>
												<br/>
												<input type="password" name="password_confirm" >
											</div>
										</form>
										<div class="submit">
											<button onclick="submitResetData()">重設密碼</button>
										</div>
									<% } else {  %> 
										<form id="forgetForm" method="post" action="/forget/submit">
											<div class="">
												<span class="forget">忘記帳號之電子信箱:</span>
												<br/>
												<dfn style="color:red"><%=errorcode %></dfn>
												<input type="email" name="email" >
											</div>
										</form>
										<div class="submit">
											<button onclick="submitForgetData()">登入</button>
										</div>
									<% } %>

								</section>
							</article>

					</div>
                        <div align="center">
                        <a style="color:#F6D8D8;text-decoration: none;">&copy; momocraft. All rights reserved.Design: <a style="color:#F6D8D8"  href="http://html5up.net">HTML5 UP</a></a>
                        </div>
				</div>
                        
		</div>

		<!-- Scripts -->
			<script src="/assets/js/jquery.min.js"></script>
			<script src="/assets/js/jquery.dropotron.min.js"></script>
			<script src="/assets/js/skel.min.js"></script>
			<script src="/assets/js/skel-viewport.min.js"></script>
			<script src="/assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="/assets/js/main.js"></script>
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <script>
              (adsbygoogle = window.adsbygoogle || []).push({
                google_ad_client: "ca-pub-9443392613166937",
                enable_page_level_ads: true
              });
            </script>

	</body>
</html>