					<!-- Logo -->
                    <h1 ><a href="">新茉茉伺服器</a></h1>
					<!-- Nav -->
						<nav id="nav">
							<ul>
								<% if (currentPage === 'index') { %>
									<li class="current">
								<% } else {  %> 
									<li>
								<% } %>
									<a href="/" > 首頁</a>
								</li>
								<% if (currentPage === 'donate') { %>
									<li class="current">
								<% } else {  %> 
									<li>
								<% } %>
									<a href="/donate">贊助支持</a>
								</li>

								<% if (session.user == undefined || session.user == '' ) { %>
									<% if (currentPage === 'login' || currentPage === 'forget_password') { %>
										<li class="current">
									<% } else {  %> 
										<li>
									<% } %>
										<a href="/forget"> 忘記密碼 \ 登入 </a>
										<ul>
											<li><a href="/forget"> 忘記密碼 </a></li>
											<li><a href="/login"> 登入 </a></li>
										</ul>
									</li>
								<% } else {  %> 
                                    <li><a href="#"> <%= session.user; %> 你好! </a>
                                        <ul>
                                            <li><a href="/logout"> 登出</a></li>
                                        </ul>
                                    </li>
								<% } %>
							</ul>
						</nav>